<!-- 必要参数 -->
<meta charset="utf-8"/>
<title><%= siteTitle %></title>
<meta name="keywords" content="关键词"/>
<meta name="description" content="简述"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable:no"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico?v=<%= site.utils.now %>">
<!-- CSS -->
<link rel="stylesheet" href="<%= themeConfig.domain %>/media/css/mdui.min.css">
<link rel="stylesheet" href="<%= themeConfig.domain %>/media/css/modify.css">
<!-- 文档中 CSS -->