<% posts.forEach(function(post) { %>
    <section class="mdui-col mdui-m-b-2">
        <div class="mdui-card">
            <% if (post.feature) { %>
            <div class="mdui-card-media">
                <img src="<%= post.feature %>" onerror="this.src='<%= post.feature %>';">
                <% if (post.isTop) { %>
                <div class="mdui-card-menu">
                    <i mdui-tooltip="{content: '顶置', position: 'left'}" class="mdui-icon material-icons mdui-text-color-theme-accent">star</i>
                </div>
                <% } %>
            </div>
            <% } %>
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title"><a href="<%= post.link %>"><%= post.title %></a></div>
                <div class="mdui-card-primary-subtitle"><%= post.dateFormat %></div>
            </div>
            <div class="mdui-card-content"><%- post.description %></div>
        </div>
    </section>
<% }); %>