<!DOCTYPE html>
<html lang="zh-CN">
<head>
<%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>
<body id="index" class="mdui-appbar-with-toolbar mdui-theme-primary-blue-grey mdui-theme-accent-blue mdui-theme-layout-dark">
<%- include('./includes/header') %>

<main class="mdui-m-a-2 mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3 mdui-row-xl-4 mdui-typo mdui-m-t-2">
    <%- include('./includes/post-list') %>
</main>

<%- include('./includes/pagination') %>

<%- include('./includes/footer') %>

</body>
</html>